
body
{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 30%;
    top: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#surface
{
    border: none;
    border-radius: 10px;
    width: 450px;
    height: 500px;
    padding: 50px;
    background-color: rgb(230, 177, 137);
}
#bordure
{   border: none;
    border-radius: 10px;
    width: 450px;
    height: 500px;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    background-color: rgb(230, 177, 137);
    box-shadow:  4px 5px 15px #000;
}

#tableau
{
    background-color: rgb(19, 31, 29);
    height: 450px;
    background-image: radial-gradient(ellipse at 50%, rgb(103, 139, 121),rgb(19, 31, 29));
    color: #eee;
    
}
#tableau h2
{
    margin-top: 2%;
    padding-left: 5rem;
    padding-right: 4rem;
    padding-top: 5rem;
    font-size: 40px;
    word-spacing: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#tableau p
{
    margin-left: 3rem;
    font-size: 30px;
}
#tableau p a
{
    text-decoration: none;
}
#tableau p a:visited
{
    text-decoration: none;
}
#tableau p span 
{
    color: rgba(229, 226, 226, 0.644);
}
#player1 
{
    margin-right: 3rem;
}
#tableau p span:hover
{
    cursor: pointer;
    padding: 10px;
    border: 2px dashed white;
    border-radius: 50px;
    color: #eee;
}
.score
{
    display: inline-block;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.score:nth-child(1)
{
    padding-right: 10px;
    margin-left: 6rem;
}

hr
{
    width: 2px;
    height: 35px;
    border: none;
    border-left: 2px solid black;
    position: absolute;
    left: 12.25rem;
    top: -0.25rem;
}
table
{
    border-collapse: collapse;
    position: absolute;
    left: 3.5rem;
    top: 3.3rem;
}
td
{
    border-bottom: 2px solid #eee;
    border-right: 2px solid #eee;
    height: 8.5rem;
    width: 8.5rem;
}
td:last-child
{
    border-right: none;
}
 tbody tr:last-child td
{
    border-bottom: none;
}

.reset-all
{
    font-size: 22px;
    position: absolute;
    top: -0.75rem;
    right: 2rem;
}

#notice
{
    position: absolute;
    height: 50px;
    width: 150px;
    color: #eee;
    font-weight: bolder;
    background-color: rgb(0, 200, 200);
    top: -50px;
    left: 1rem;
    font-size: 20px;
    padding-left: 2rem;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
