@font-face
{
    font-family: cuisineFont;
    src: url(Montserrat-Bold.ttf);
}
body
{
    font-family: cuisineFont;
    margin: 0;
    padding: 0;
}
#icone
{
    display: none;
}
nav
{
    width: 100%;
    height: 3rem;
    background-color: #333333;
    z-index: 2;
}
nav ul li:first-child
{
    margin-left: 0;
}
nav li
{
    display: inline-block;
    list-style-type: none;
    font-size: 15px;
    font-weight: bold;
    font-family: cuisineFont;
    margin-left: 0.5rem;
    height: 2.9rem;
}
nav ul li:nth-child(2)
{
    margin-left: 1rem;
    margin-right: 0.2rem;
    padding-right: 1rem;
    border-right: 1px solid grey;
}

nav li:nth-child(3)
{
    margin-right: 38%;
}
nav a
{
    text-decoration: none;
    color: grey;
}
nav a:hover
{
    color: #ddd;
}
.icone
{
    margin-top: 0.5rem;
    height: 25px;
    width: 25px;
    padding: 0.1rem;
    margin-bottom: -0.5rem;
}
.row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.repas
{
    margin: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.repas h3
{
    font-size: 30px;
    font-weight: bolder;
    color: #eee;
    border: 2px solid red;
    margin-top: -50px;
    text-align: center;
}

.repas img
{
    height: 400px;
    width: 400px;
    border-radius: 10px 10px 0 0;
}

#corps
{
    font-family: cuisineFont;
    margin-top: -1.3rem;
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: bisque;
}
#recette
{
    margin-right: 20rem;
}

aside
{
    position: fixed;
    right:10.5rem;
    top: 10rem;
    
}

footer
{
    height: 15rem;
    margin-top: -1.3rem;
    width: 100%;
    background-color: #333;
}
#pieds 
{
    height: 8rem;
    width: 100%;
    color: #eee;
    font-family: cuisineFont;
    background-color: crimson;
    text-align: center;
}
#pieds img
{
    height: 30px;
    width: 30px;
    margin: auto;
}
.row p
{
    font-size: 13px;
    color: grey;
    margin-left: 1rem;
}

.row:last-child
{
    text-align: center;
    padding-left: 25%;
}

/*  responsive  Tablette */
@media screen and (max-width: 768px)
{
    
    nav
    {
        width: 100%;
        height: 3rem;
        background-color: #333333;
    }
    nav ul li:not(:first-child)
    {
        display: none;
    }
    nav ul li
    {
        display: inline-block;
        list-style-type: none;
        font-size: 19px;
        font-weight: bold;
        font-family: cuisineFont;
        margin-left: 0.5rem;
        padding-top: 1rem;
        height: 2.9rem;
    }
    
    nav a
    {
        text-decoration: none;
        color: grey;
    }
    #icone
    {
        display: inline-block;
        position: absolute;
        margin-top: -4rem;
        right: 0;
        height: 25px;
        width: 25px;
        padding: 0.1rem;
    }
    
    .repas
    {
        margin: 0.5rem;
        width: 45%;
        height: auto;
        border: none;
        margin-top: auto;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .repas :first-child
    {
        margin-top: 1rem;
    }
    .repas h3
    {
        font-size: 20px;
        font-weight: bolder;
        color: #000;
        margin: auto;
        text-align: center;
        border: none;
        margin-bottom: -10px;
    }
    
    .repas img
    {
        height: 50%;
        width: 100%;
        border-radius: 0;
        border: 1px solid black;
    }
    
    #corps
    {
        font-family: cuisineFont;
        margin: 0;
        width: 100%;
        background-color: bisque;
        text-align: center;
    }
    #corps h1
    {
        padding-bottom: 1rem;
        border-bottom: 1px solid black;
    }

    aside
    {   
        right: 1rem;
    }
    
    #recette
    {
        width: 100%;
    }
    #recette section
    {
        margin: 0px;
        height: 50rem;
        overflow: scroll;
    }
    
    .row-repas
    {
        margin: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
     
    /* pieds de page */
    footer
    {
        height: auto;
        margin-top: -1.3rem;
        width: 100%;
        background-color: #333;
    }
    #pieds 
    {
        height: auto;
        width: 100%;
        color: #eee;
        font-family: cuisineFont;
        background-color: crimson;
        text-align: center;
    }
    #pieds img
    {
        height: 30px;
        width: 30px;
        margin: auto;
    }
    .row:last-child
    {
        padding: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 13px;
        color: grey;
        align-items: center;
    }
    
    }


    /*  responsive Mobile */
@media screen and (max-width: 600px)
{
    
nav
{
    width: 100%;
    height: 3rem;
    background-color: #333333;
}
nav ul li:not(:first-child)
{
    display: none;
}
nav ul li
{
    display: inline-block;
    list-style-type: none;
    font-size: 19px;
    font-weight: bold;
    font-family: cuisineFont;
    margin-left: 0.5rem;
    padding-top: 1rem;
    height: 2.9rem;
}

nav a
{
    text-decoration: none;
    color: grey;
}
#icone
{
    display: inline-block;
    position: absolute;
    margin-top: -4rem;
    right: 0;
    height: 25px;
    width: 25px;
    padding: 0.1rem;
}

.repas
{
    margin: 0.5rem;
    width: 45%;
    height: auto;
    border: none;
    margin-top: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.repas :first-child
{
    margin-top: 1rem;
}
.repas h3
{
    font-size: 20px;
    font-weight: bolder;
    color: #000;
    margin: auto;
    text-align: center;
    border: none;
    margin-bottom: -10px;
}

.repas img
{
    height: 50%;
    width: 100%;
    border-radius: 0;
    border: 1px solid black;
}

#corps
{
    font-family: cuisineFont;
    margin: 0;
    width: 100%;
    background-color: bisque;
    text-align: center;
    padding-bottom: 10rem ;
}
#corps h1
{
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

#recette
{
    width: 100%;
}
#recette section
{
    margin: 0px;
    height: 50rem;
    overflow: scroll;
}
aside
{
    position: relative;
    margin-top: -9rem;
    
}
.row-repas
{
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
/* pieds de page */
footer
{
    height: auto;
    margin-top: -1.3rem;
    width: 100%;
    background-color: #333;
}
#pieds 
{
    height: auto;
    width: 100%;
    color: #eee;
    font-family: cuisineFont;
    background-color: crimson;
    text-align: center;
}
#pieds img
{
    height: 30px;
    width: 30px;
    margin: auto;
}
.row:last-child
{
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: grey;
    align-items: center;
}

}