*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
}
header
{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #000;
    display: flex;
    color: #eeeeee;
    margin-left: 2rem;
    margin-right: 3rem;
}
header p
{
    font-weight: 550;
}
header p a
{
    color: #eeeeee;
}
header button
{
    width: 100px;
    height: 2rem;
    border-radius: 30px;
    font-weight: bolder;
    color: black;
    margin-left: 37rem;
    margin-top: 1rem;
    background-color: white;
}
nav
{
    display: flex;
    flex-wrap: wrap;
    padding-left: 3rem;
    margin-top: 5rem;
    border-bottom: 1px solid black;
}
#logo
{
    height: 20px;
    width: 20px;
    margin-right: 2rem;
    margin-top: 0.5rem;
}
nav div
{
    width: 58rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    background-color: darkgrey;
}
nav div img
{
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-left: 1rem;
}
nav span:last-child img
{
    height: 25px;
    width: 25px;
    margin-left: 0.5rem;
}
nav div input
{
    width: 55rem;
    height: 2rem;
    border: none;
    background-color: transparent;

}
nav a 
{
    margin-left: 2rem;
    margin: 1rem;
    font-size: 14px;
    font-weight: bolder;
    color: gray;
    text-decoration: none;
}
.pseudonym
{
    border: 1px solid rgba(202, 200, 200, 0.747);
    background-color: rgba(202, 200, 200, 0.747);
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 10px;
    border-radius: 100%;
} 
.separator
{
    border-right: 2px solid rgba(202, 200, 200, 0.747);
    padding-right: 2rem;
    
}
.notif
{
    height: 12px;
    width: 12px;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 10px;
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
}
.icon-notif img
{
    height: 25px;
    margin-top: 0.75rem;
}
.icon-notif
{ 
    margin-left: 10px;
}
.notif-alarm
{
   position: absolute;
   right: 5.2rem;
   top: 5.5rem;
}
.notif-msg
{
    position: absolute;
    right: 7.35rem;
    top: 5.5rem;
}

#gallery
{
    margin-left: 2%;
    margin-right: 2%;
}
.row
{
    display: flex;
    flex-wrap: wrap;

}
.column
{
    flex: 16%;
    max-width: 17%;
    padding: 0 4px;
}
.column img
{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 10px;
}

.column:nth-child(odd) img:nth-child(odd)
{
    height: 20%;
}
.column:nth-child(even) img:nth-child(even)
{
    height: 30%;
}