
body
{
    margin: 0;
}

#corps
{
    margin-top: 5%;
    margin-left: 15%;
    border: 3px solid green;
    height: 40rem;
    width: 60%;
    display: flex;
    flex-direction: row;
    
}

legend
{
    margin-bottom: 0.5rem;
}

#image
{
    height: 100%;
    width: 80%;
    background-image: url(img/tokyo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#formulaire
{
    color: rgb(44, 81, 190);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 3rem;
    justify-items: center;
}
#formulaire h1
{
    margin-bottom: 3rem;
}
.champs-formulaire
{
    width: 22.5rem;
    height: 2rem;
    margin-bottom: 1rem;
}
.champs-formulaire input
{
    width: 100%;
    height: 100%;
    color: rgb(184, 179, 179);
    padding-left: 1rem;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid rgb(184, 179, 179);
}

div.champs-formulaire:last-child input
{
    margin-top: 0.2rem;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(44, 81, 190);
    color: white;
    width: 23.5rem;
    height: 2.5rem;
} 
label
{
    color: rgb(184, 179, 179);
    font-size: 12px;
}

/* bordures valide et invalide*/
input:valid
{
    border-color: blue;
}
input:invalid
{
    border-color: crimson;
}

/*Responsive */
@media screen and (max-width:769px)
{
    #corps
    {
        width: 100%;
        margin: 0;
    }
    #formulaire
    {
        width: 95%;
        background-image: url(img/tokyo.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        font-weight: bold;
        padding: 1rem;
    }
    .champs-formulaire
    {
        width: 90%;
    }
    #image
    {
        display: none;
    }
    #formulaire h1
    {
        font-size: 25px;
    }
    .champs-formulaire
{
    height: 2rem;
    margin-bottom: 1rem;
}
.champs-formulaire input
{
    width: 100%;
    height: 100%;
    color: rgb(184, 179, 179);
    padding-left: 1rem;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid rgb(184, 179, 179);
}
.champs-formulaire:last-child
{
    width: 88vw;
    height: 3rem;
}
div.champs-formulaire:last-child input
{
    margin-top: 0.2rem;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(44, 81, 190);
    color: white;
    width: 100%;
    height: 2rem;
} 

}