html
{
    scroll-behavior: smooth;
}
body
{
    background-color: #f6f5f5;
    margin: 0;
    padding: 0;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;
}
section#hautDePage
{
    width: 100%;
    height: 95vh;
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, .2);
    padding: 0px 5%;
}
nav ul
{
    display: flex;
}
nav ul li a
{
    margin: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #505050;
    font-size: 15px;
    font-weight: 700px;
}
.logo
{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 22px;
}
.active
{
    font-weight: bold;
    color: #2d2a2a;
}
.text-container p:nth-child(1)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}
.text-container p:nth-child(2)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #1a1a1a;
    font-size: 60px;
}
.text-container p:nth-child(3)
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #403e3e;
    font-size: 30px;
word-break: normal;
    line-height: 30px;
}
.text-container p
{
    line-height: 0px;
    margin: 45px 0px 25px;
}
.text-container
{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%,-42%);
}
.voir-plus-btn
{
    width: 200px;
    height: 42px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}
.prestations
{
    border: 2px solid #373636;
    color: #373636;
}
button:active
{
    transform: scale(1.1);
}
.model
{
    height: 500px;
    position: absolute;
    bottom: 0;
    left: 70%;
    top: 20%;
    transform: translateX(-70%);
}
.bibliography-container
{
    width: 80%;
    height: 330px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position:  relative;
    justify-content: space-evenly;
    align-items: center;
} 
.container img
{
    height: 300px;
}
.text-bibliography
{
    width: 550px;
}
.text-bibliography p:nth-child(1)
{
    color: #403e3e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 33px;
    font-weight: bold;
    line-height: 0px;
}
.text-bibliography p:nth-child(2)
{
    color: #3e3d3d;
    font-size: 13px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 5px;
}
.text-bibliography p:nth-child(3),
.text-bibliography p:nth-child(4)
{
    color: #7e7d7d;
    font-family: calibri;
    font-size: 16px;
}
.text-bibliography button .voir-plus-btn
{
    width: 120px;
    height: 40px;
    color: #ffffff;
    outline: none;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #262525;
}
.container
{
    height: 600px;
    border-top: 1px solid black;
    background-color: #ffffff;
    padding: 2% 10% 0px 10%;
}
.text-exploit:nth-child(2)
{
    position: absolute;
    bottom: -80%;
    left: 50%;
}
.text-exploit p:nth-child(1)
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 33px;
    line-height: 0px;
}
.text-exploit p:nth-child(2)
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #3e3e3d;
    font-size: 15px;
    line-height: 5px;
}
.text-exploit p:nth-child(3)
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #7e7d7d;
}
.text-exploit p:nth-child(4)
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #7e7d7d;
}
.text-exploit
{
    width: 500px;
    margin: 50px 0px;
}
.text-exploit ul
{   
    list-style: disc;

}
.box-1,.box-2,.box-3
{
    width: 300px;
    height: 320px;
    background-color: #373636;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.box-container
{
    display: flex;
    justify-content: space-between;
}
.box-1 span,.box-2 span,.box-3 span
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2)
{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    line-height: 0;
}
.description
{
    padding-left: 10px;
    color: white;
}
#hobby-container
{
    height: auto;
}
.liste-hobby + li
{
    margin-top: -120px;
    height: 20px;
}

div.foot
{
    height: 80px;
    position: relative;
    margin-top: -17px;
    background-color: #373636;
}
.foot p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}
