  @font-face {
        font-family: wiki-font;
        src: url(assets/fonts/assets/fonts/LinLibertine_aBL.ttf);
    }
html
{
  
}

body
{
    font-family: 'wiki-font';
    margin: 0;
    background-color: rgb(244, 246, 247);
}
#haut
{
    display: flex;
    flex-direction: row;
}

#img-aside
{
    height: 10.5em;
    width: 10em;
    background-image: url(assets/img/image_libre.jpg);
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 2rem;
}
aside
{
    width: 13%;
    font-size: smaller;
    text-align: justify;
}
.aside-item li
{
    list-style: none;
}
.aside-item a
{
    text-decoration: none;
}
aside h3
{
    width: fit-content;
    margin-left: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 1px solid black;
}
#corps
{
    background-color: white;
    width: 87%;
}

header
{
    background-image: linear-gradient( to bottom, #ffffff, rgb(244, 246, 247));
    
    border-bottom: 1px solid rgb(143, 193, 218);
}
#entete
{
    position: absolute;
    top: 0;
    right: 1rem;
    
}

#entete li, #navigation li
{
    list-style: none;
    display: inline;
}

section#banner
{
    height: 10rem;
    border-bottom: 0.5px solid rgb(143, 193, 218);
    position: relative;
    margin-left: 2rem;
    margin-right: 2rem;
   overflow: hidden;
   background-image: linear-gradient( to bottom, #ffffff, rgb(244, 246, 247));
}

#banner-image
{ 
    width: 20rem;
    height: 20rem;
    left: -7.5rem;
    position: absolute;
    background-image: url(assets/img/banner.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner-content
{
    background-image: linear-gradient( to bottom, #ffffff, rgba(244, 246, 247,0.1));
    display: flex;
    flex-direction: row;
    margin-left: 15rem;
    margin-top: 2rem;
}
#banner-content .col:first-child h1
{
    font-size: 40px;
    margin-top: 0rem;
} 
#banner-content .col:first-child p
{
    display: block;
    width: 20rem ;
    margin-top: -2rem;
} 
#banner-content .col:nth-child(2) ul
{
    margin-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
} 
#banner-content .col:nth-child(2) li
{
    display: inline-block;
    width: 30%;
    padding: 2px;
    text-align: center;
} 
#navigation
{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    padding-bottom: 0;
    
    border-bottom: 0.5px solid rgb(143, 193, 218);
}
#navigation ul:nth-child(1)
{
    position: absolute;
    left: 0;
}
#navigation ul:nth-child(1) li:first-child 
{
    margin-left: -2.5rem;
    text-align: left;
    background-color: #ffffff;
}
#navigation ul:nth-child(1) li:last-child
{
    border: 1px solid blue;
    margin-left: -0.3em;
    border-top: none;
}
#navigation a
{
    text-decoration: none;
}
#navigation ul li
{
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5rem;

}

#navigation ul:nth-child(2)
{
    margin-left: 37rem;
    margin-bottom: 0px;

}

#navigation ul:nth-child(2) li
{
    border: 1px solid blue;
    border-top: none;
    margin-bottom: 1rem;
    margin-left: 0px;
}
#navigation ul:nth-child(2) li:first-child
{
    border-top: none;
    border-bottom: none;
    background-color: #ffffff;
    margin-left: 0;
}
#navigation ul:nth-child(2) li:nth-child(2)
{
    
    margin-left: -0.3em;
}
#navigation ul:nth-child(2) li:nth-child(3)
{
    margin-left: -0.3em;
}
#search_form
{
    position: absolute;
    right: 1rem;
    width: 22rem;
    bottom: 3px;
    height: 1.5rem;
    border: 1px solid black;
    border-radius: 2px;
}


/* section des articles    */

#article
{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
}
.colonne
{
    height: auto;
    width: 60%;
    margin: 1rem;
    margin-right: 0.5rem;
    position: relative;
}
.colonne:nth-child(2)
{
    height: auto;
    width: 40%;
    margin: 1rem;
    margin-left: 0.5rem;
}
.colonne p
{
    line-height: 1.4rem;
}
.colonne1,.colonne2
{
    
    box-shadow: 1px 1px 0.5px .5px rgb(221, 220, 220);
    border: 1px solid rgb(221, 220, 220);
     height: auto;
    width: auto;
    border-radius: 5px ;
    padding: 1rem;
    margin-top: 1rem;
}
.colonne1:last-child .article-pieds
{
    margin-bottom: 20rem;
}
.colonne1 a, .colonne2 a
{
    text-decoration: none;
}
.col-2-chiffres li
{
    display: inline-block;
    width: 47%;
    text-align: center;
}

.col-2-chiffres li a
{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
}
article h2
{
    font-family: 'Times New Roman', serif;
    padding-bottom: 0.5rem;
    border-bottom: 5px solid dodgerblue;
}
.article-pieds
{
    text-align: right;
}
.article-pieds li
{ 
    font-size: small;
    font-weight: bolder;
    display: inline-block;
    margin-left: 0.5em;
}
.article-pieds-burundi ul
{
    margin-left: 65%;
    margin-bottom: 10rem;
}
.article-pieds-burundi li
{
    display: inline-block;
    font-size: smaller;
}
.article-pieds li a
{ 
    text-decoration: none;
}
.events ul:first-child
{
    border-top: 1px solid dodgerblue;
    border-bottom: 1px solid dodgerblue;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.events ul li
{
    display: inline-block;
}
.events a
{
    text-decoration: none;
    color: blue;
}
.colonne2:last-child p
{
    width: 90%;
    margin-left: 7%;
    text-align: center;
}
.colonne2 :last-child 
{
        justify-self: center;
}
#ligne-bas
{
    width: 96%;
    border-top: 5px double rgb(221, 220, 220);
    margin-bottom: 2rem;
    margin-top: 2rem;
    position: relative;
    margin-left: 1.5rem;
    margin-right: 1rem;
}
#logo-pieds
{
    position: absolute;
    left: 50%;
    top: -2rem;
}
.coll
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
     margin-left: 3rem;
}
.coll div:nth-child(2) span
{
   margin-top: -3em;
}
.coll div
{
    width: 20%;
}
.content-bas
{
    display: flex;
    flex-direction: row;
}
.content-bas div
{
    width: fit-content;
}
.content-bas img
{
    height: 35px;
    width: 40px;
}
.content-bas div:first-child
{
    margin-top: 2rem;
    margin-right: 0.5em;
}
#meta-wiki
{
    margin-bottom: 8rem;
}

footer
{
    width: 100%;
    font-size: smaller;
}
#tete-footer
{
    margin-left: 15%;
    margin-bottom: 2rem;
    text-align: justify;
    width: 85%;
}
.btn button
{
    float: right;
    width: fit-content;
    border: none;
}
.btn img
{
    height: 2.3em;
}