body
{
    font-size: 20px;
}
#boites
{
    position: relative;
    margin-left: 50%;
}
.boite
{
    position: absolute;
}
#boite1
{
    height: 240px;
    width: 240px;
    border: 2px solid purple;
    background-color: red;
}
#boite2
{
    height: 150px;
    width: 150px;
    border: 2px solid snow;
    background-color: blue;
    margin: 35px 40px;
}
#boite3
{
    height: 240px;
    width: 240px;
    border: 2px solid red;
    background-color: yellow;
    left: 70px;
    bottom: 400px;
}
#boite6
{
    height: 140px;
    width: 140px;
    border: 2px solid purple;
    background-color: red;
    top: 130px;
    left: 150px;
}
#boite4
{
    height: 80px;
    width: 80px;
    border: 2px solid green;
    background-color: yellow;
    top: 160px;
    left: 115px;
}
#boite5
{
    height: 115px;
    width: 115px;
    border: 2px solid blue;
    background-color: green;
    left: 79px;
    top: 200px;
}