@font-face
{
    font-family: facebook;
    src: url(img/ufonts.com_klavika-bold-opentype.otf);

}
body
{
    margin: 0;
}
.icon-fb
{
    color: white;
    font-size: 40px;
    font-weight: bolder;
    font-family: facebook;
    text-transform: lowercase;
}

header
{
    
    height: 100px;
    width: 100%;
    background-color: #3b5998;
    margin: 0;
}

.info-login
{
    margin-left: 73%;
}
/*  text  */
.text-decoration-none
{
    text-decoration: none;
}

/*   Margins and paddings    */
.p-0
{
    padding: 0;
}
.m-0
{
    margin: 0;
}
.h-80
{
    height: 100px;
}
.w-100
{
    width: 100%;
}
.p-1
{
    padding: 1%;
}
.pt-4
{
    padding-top: 4%;
}
.p-2
{
    padding: 2%;
}
.pl-2
{
    padding-left: 2%;
}
.pl-4
{
    padding-left: 4%;
}
.pr-2
{
    padding-right: 2%;
}
.pr-4
{
    padding-right: 4%;
}

.m-2
{
    margin: 2%;
}
.ml-2
{
    margin-left: 2%;
}
.ml-4
{
    margin-left: 4%;
}
.ml-50
{
    margin-left: 50%;
}
.mr-2
{
    margin-right: 2%;
}
.mr-4
{
    margin-right: 4%;
}
.mr-8
{
    margin-right: 8%;
}
.mr-20
{
    margin-right: 20%;
}
.mr-80
{
    margin-right: 80%;
}
.mt-2
{
    margin-top: 2%;
}
.mt-4
{
    margin-top: 4%;
}
.mt-5
{
    margin-top: 5%;
}

    /*    box displays      */
.row
{
    display: flex;
    flex-direction: row;
}
.col
{
    display: flex;
    flex-direction: column;
}
.col-6
{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.col-3
{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.d-flex
{
    display: flex;
}

/*        Colors      */
.text-muted
{
    color: #9cb4d8;
}
.text-white
{
    color: white;
}
.bg-blue
{
    background-color: #4267b2;
}


/*      borders       */
.b-none
{
    border: none;
}

/*  page elements  */
#loginbtn
{
    width: 100px;
    margin-top: 18px;

}
#loginbtn button
{
    border: 1px solid black;
}
#loginbtn button:hover
{
    cursor: pointer;
}

#corps
{
    background-color: #edf0f5;
    height: 630px;
}

#image
{
    width: 50rem;
    margin-right: 13%;
}

#register
{
    width: 40rem;
    margin-right: 4%;
    padding-top: .5rem;
}
#register div
{
    margin-top: 0.5rem;
}
#form-register .row + div
{
    height: auto;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}
#form-register input
{
    background-color: #ffffff;
    color: #a39999;
    font-size: 20px;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2%;

}
#form-register input[type=radio]
{
    background-color: #ffffff;
    color: #a39999;
    font-size: 25px;
    height: 10px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2%;

}
select
{
    height: 40px;
}
.slogan
{
    width: 450px;
    justify-self: start;
    margin-left: 40%;
}
#banniere
{
    height: 200px;
    width: 500px;
    background-image:  url("img/interconnect.png");
    background-position: center;
    background-repeat: no-repeat ;
    margin-left: 40%;
    margin-top: -2%;

}
.signUp
{
    font-size: 40px;
    font-weight: bold;
}
.signUp-btn
{
    height: 50px;
    width: 170px;
    font-size: 19px;
    letter-spacing: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold !important;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    background-color: #588944;
    background: linear-gradient(#79bc64, #578843);
}
.terms
{
    word-break: normal;
    font-size: small;
    width: 330px;
}
#input-firstName
{
    margin-right: 1.5em;
}
.row .create
{
    border-top: 1px solid #1d21293b;  
}

span#gender span
{
    margin-top: -35px;
    font-size: 20px;
    line-height: 1.25em;
}

#birthday span label
{
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    padding: 0 10px 0 3px;
    cursor: default;
}
#pieds  
{
    color: #737373;
    margin: 0 auto;
    width: 980px;
}

.bordure 
{
    border-bottom: 1px solid #1d21293b;   
}
ul.bas
{
    align-items: center;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    padding: 0px 12px 8px 5px;
}
#pieds ul.bas li
{
    font-size: 13px;
    display: inline-block;
    list-style-type: none;
    margin-left: 1rem;
    color: #4267b2;
}
#pieds ul.bas li:hover
{
   cursor: pointer;
}
footer
{
    max-height:100px;
}