
body
{
    margin: 0;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 1000px;
}
#page
{
    height: 950px;
    width: auto;
    border: 3px solid black;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: #fef7da;
}

/* entete  */
header#entete
{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    padding-left: 4rem;
    font-family: 'Times New Roman', Times, serif;
    
}
#entete ul
{
    margin-top: 50px;
}
#logo
{
    margin-right: 58%;
    font-size: 13px;
}
#entete ul li
{
    text-transform: uppercase;
    display: inline;
    list-style-type: none;
    margin-left: 20px;
}
#entete ul li:hover
{
    cursor: pointer;
    font-size: large;
}
.active
{
    color: darkred;
    font-weight: bold;
    text-decoration: underline;
}
#corps
{
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

/* image banniere  */
#banniere
{
    height: 230px;
    width: 90%;
    margin-left: 4rem;
    border: 1px solid black;
    border-radius: 5px;
    background-image: url("img/bridge.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-origin: content-box;
}
#bas-banniere
{
    height: 30px;
    width: 90%;
    margin-left: 4rem;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    margin-top: -30px;
    color: white;

}
#bas-banniere p
{
    position: absolute;
    top: -5px;
    left: 5px;
    font-size: 12px;
    font-weight: lighter;
}
#bas-banniere button
{
    background-color: brown;
    color: #eee;
    margin-left: 90%;
    margin-top: 5px;
    padding-bottom: 3px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #eee, brown );
}
 /* articles   */
main
{
    width: 90%;
    margin-left: 4rem;
    font-size: small;
}
main article
{
    width: 57rem;
    text-align: justify;
}
main article h2
{
    font-weight: light;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 35px;
}
#img_article
{
    margin-bottom: -45px;
    border: none;
}
main aside
{
    width: 16rem;
    position: absolute;
    top: 45%;
    left: 71.5%;
    border: 1px solid black;
    text-align: justify;
    font-size: 12px;
    color: #eee;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: dimgray;
}
main aside p img
{
    height: 45px;
    width: 45px;
}

main aside p img:hover
{
    height: 48px;
    width: 48px;
    cursor: pointer;
}

#image_article
{
    border: none;
    margin-left: 30%;
}

main aside h3
{
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

/* fleche en debut du footer  */
#fleche-haut
{
    height: 40px;
    width: 40px;
    border: 2px solid black;
    border-radius: 50%;
    border-left: none;
    border-right: none;
    border-top: none;
    position: absolute;
    background-color: #fef7da;
    top: 49em;
    left: 45rem;
}
#fleche-haut img
{
    height: 20px;
    width: 20px;
    margin-top: 20px;
    margin-left: 10px;
}
#fleche-haut :hover
{
    cursor: pointer;
}
#fleche-haut :active
{
    height: 45px;
    width: 45px;
}
#fleche-haut img:active
{
    height: 25px;
    width: 25px;
    margin-top: 15px;
    margin-left: 5px;
}

/*  pieds de page  */
footer
{
    background-color: bisque;
    height: 9rem;
   
}
#pieds
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 4rem;
    font-size: 12px;
}
#pieds a
{
    color: brown;
    text-decoration: none;
    font-weight: bold;
}
#pieds h2
{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-transform: uppercase;
}
#pieds div img
{
    height: 70px;
    width: 70px;
}
#pieds div:nth-child(3) h2
{
    margin-left: 2rem;
}
#pieds div:last-child
{
    margin-top: 2rem;
}